@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin:0;
    padding:0;
}
.aspin{
    width: 1254px;;
    height:186px;
    margin-top:20px;
    margin-right:60px;
    margin-left: 52px;
    background:url("World Map Travel FullHD.jpg");
    border-radius:20px;
    cursor:pointer;
    
}
.aspin img{
   height:100%;
   width:100%;
   cursor:pointer;
   
}
.chakma{
    display:inline-block;
    width: 137px;;
    height:147px;
    
    border-radius:50px;
    margin:111px 44% 0px;
}

.chakma img{
    border-radius: 100%;
    box-shadow:0px 0px 20px -5px rgb(138, 87, 22);
}
.bana-bihar{
    background:aqua;
    display:inline-block;
    width:20%;
    height:100%;
    margin-right:20px;
    margin-left:83px;


}
.kaptai-lake{
    background-color:aqua;
    display:inline-block;
    width:19%;
    height:100%;
    margin-right:20px;


}
.cultural-museum{
    background-color:aqua;
    display:inline-block;
    width:21%;
    height:100%;

}
.container{
    display:inline-block;
    width:1259px;
    height:312px;
    margin-left:51px;
    margin-top:108px;

    
}
.bana-bihar h3, .kaptai-lake h3, .cultural-museum h3{
    text-align:center;

}
.bana-bihar p, .kaptai-lake p, .cultural-museum p{
    text-align:justify;
    font-family: 'Lato', sans-serif
}
.aspin-chakma{
    color:red;
}
.s{
    text-align: center;
}
.bana-bihar, .kaptai-lake, .cultural-museum{
    padding:40px;
}
.cultural-museum:hover{
    background:rgb(235, 235, 82);
    cursor:pointer;
}
.bana-bihar:hover{
    background:rgb(235, 235, 82);
    cursor:pointer;
}
.kaptai-lake:hover{
    background:rgb(235, 235, 82);
    cursor:pointer;
}
.p1, .p2, .p3{
    display:inline;
    padding-left:38px;

}
.p4, .p5, .p6{
    display:inline;
    padding-left:38px;
}
.more-photos{
    margin-top:88px;
}
.see-more{
    margin-top:30px;
    margin-left:526px;
    padding-left:33px;
    padding-top:10px;
    padding-bottom:10px;
}
.see-more{
    width:220px;
    border:1px solid black;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
}
.see-more:hover{
    background-color:rgb(81, 81, 204);;
    color:white;
}
.moanoghar{
    margin-top:36px;
    width:1001px;
    margin-left:163px;
    padding-top:16px;
    padding-bottom:16px;
}
.abcd{
    margin-top:36px;
    width:1001px;
    margin-left:163px;
    padding-top:16px;
    padding-bottom:16px;
    padding-left:0px;
}
